<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BOILERPLATE</title>
    </head>
    <body>
        <h1>BEFORE</h1>
        <%- body %>
        <h1>AFTER</h1>
    </body>
</html>
