<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>ALL PARKS</h1>
        <ul>
            <% for(var park of parks){ %>
                <li><%= park.title %> - <%= park.location %></li>
            <% } %>
        </ul>
    </body>
</html>
