<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>HI WELCOME TO YOUR PARK</h1>
        <!-- <h1>park.title</h1>
        <h1>park.location</h1> -->
    </body>
</html>
