<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>HI WELCOME TO YOUR PARK</h1>
        <h3>park.title</h3>
        <h3>park.location</h3>
    </body>
</html>
